.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}

.logo-login{
    width: 160px;
    height: 48px;
    margin-top: -260px;
    margin-bottom: 1rem;
}
.title-login{
    width: 100%;
    max-width: 210px;
    height: 60px;
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 62px;
}
.ant-form{
    width: 100%;
    max-width: 280px;
    margin-bottom: 1rem;
}
.input{
    width: 100%;
    max-width: 280px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ant-col.ant-form-item-label.css-dev-only-do-not-override-ixblex{
    padding-bottom: 0;
}

.button{
    width: 100%;
    max-width: 280px;
    height: 42px;
    border: 0;
    border-radius: 4px;
    background-color: #FF5B00;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding: 0px;
}