.button_primary {
  background-color: #ff5b00;
}

.container_multipleChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_multipleChoice {
  display: flex;

  align-items: center;
  justify-content: center;
}

.container_multipleChoice p {
  width: 50%;
  text-align: justify;
}

.example1 {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 37px auto;
}

.imageContainer {
  width: 500px;
  margin-block: 2rem;
}

.imageContainer img {
  width: 100%;
}
.alternativesContainer {
  width: 50%;
}

.inputRadioSelect {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  border: 1px solid brown;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-block: 1rem;
  border-radius: 0.5rem;
}
