.button_primary {
  background-color: #FF5B00;
}

.container_multipleChoice {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.container_multipleChoice div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container_multipleChoice p {
  width: 50%;
  text-align: justify;
}

