.container-stageOneCode{
    margin: auto;
    max-width: 868px;
    width: 100%;
}

.test{
    height: 893px;
}

.test-text{
    height: 112px;
    margin-bottom: 37px;
}

.button-test{
    display: flex;
    margin: auto;
    margin-top: 49px;
}

.description-test{
    height: 214px;
    display: flex;
    flex-direction: column;
}

.description-test>div{
    height: 28px;
    margin: 0px 19px 16px 19px;
    display: flex;
    gap: 10px;
    line-height: 22px;
    align-items: center;
}

.description-test>div:nth-child(1){
    margin-top: 27px;
}

.description-test>div:nth-child(4) {
    margin-bottom: 27px;
}

.button-send{
    display: flex;
    margin: auto;
    background: #FF5B00;
}