@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Source+Sans+Pro:wght@200;300;400&display=swap');

.description-container {
  max-width: 900px;
  margin: 0 auto;
  /* background-color: red; */
}

.description__title {
  font-family: 'Poppins';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
  margin-bottom: 32px;
  margin-left: 20px;
  margin-top: 48px;
}

.description__buttons {
  height: 56px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 868px;
  border: 1px solid #677294;
  border-radius: 8px;
}

.description__buttons--title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding: 14px 32px;
}

.button_arrow {
  margin: 0 38px;
  cursor: pointer;
}

.dropdown-on {
  /* background-color: red; */
  position: relative;
}

.dropdown-on .description__buttons {
  /* background-color: blue; */
  height: 356px;

}

.dropdown-content-on {
  position: absolute;
  top: 70px;
  left: 50px;
  max-width: 798px;
}

.dropdown-content-off {
  display: none;
}

.description__button {
  margin-top: 7px;
}
