.container-stageOneSolutions {
    margin: auto;
    max-width: 868px;
    width: 100%;
}

.solution {
    display: flex;
    flex-direction: column;
}

.solution-text {
    height: 112px;
    margin-bottom: 32px;
}

.button-next {
    display: flex;
    margin: auto;
    margin-bottom: 99px;
    background: #FF5B00;
}