.asideDashboard {
  background: var(--bg-orange);
}

.button {
  color: var(--bg-white);
}

.main {
  padding: 2rem;
}

.menuLinks {
  display: flex;
  column-gap: 1rem;
}

.buttonsActions {
  display: flex;
  column-gap: 1rem;
}

.cardPhase {
  box-shadow: 9px 11px 33px 0px rgba(173, 171, 171, 0.78);
  -webkit-box-shadow: 9px 11px 33px 0px rgba(173, 171, 171, 0.78);
  -moz-box-shadow: 9px 11px 33px 0px rgba(173, 171, 171, 0.78);
  width: 100%;
  height: 60px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  margin-block: 1rem;
  justify-content: space-between;
}

.buttonActions {
  display: flex;
  column-gap: 1rem;
}

.cardPhase h3 {
  margin: 0;
}
